## Прочие исключения ##
.vs/
.vscode/
.idea/

## Папки сборки ##
[Bb]in/
[Oo]bj/
out/
[Dd]ebug/
[Rr]elease/
x64/
x86/
**/build-*/
**/build*/
**/cmake-build-*/
**/__build/
**/__build-*/
*.pro.user
*.pro.user.*
CMakeLists.txt.user
CMakeLists.txt.user.*

##  Исключить все файлы .ilk и .pdb в любых подпапках
*.ilk
*.pdb